weatherExcerciseDockerFile/wsdl/global-weather.wsdl

<wsdl:definitions targetNamespace="http://www.webserviceX.NET" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.webserviceX.NET" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.webserviceX.NET">
			<s:element name="GetWeather">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="CityName" type="s:string"/>
						<s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetWeatherResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetWeatherResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCitiesByCountry">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="CountryName" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="GetCitiesByCountryResponse">
				<s:complexType>
					<s:sequence>
						<s:element maxOccurs="1" minOccurs="0" name="GetCitiesByCountryResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string" nillable="true" type="s:string"/>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="GetWeatherSoapIn">
		<wsdl:part element="tns:GetWeather" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetWeatherSoapOut">
		<wsdl:part element="tns:GetWeatherResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetCitiesByCountrySoapIn">
		<wsdl:part element="tns:GetCitiesByCountry" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="GetCitiesByCountrySoapOut">
		<wsdl:part element="tns:GetCitiesByCountryResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="GlobalWeatherSoap">
		<wsdl:operation name="GetWeather">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get weather report for all major cities around the world.
			</wsdl:documentation>
			<wsdl:input message="tns:GetWeatherSoapIn"/>
			<wsdl:output message="tns:GetWeatherSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="GetCitiesByCountry">
			<wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all major cities by country name(full / part).</wsdl:documentation>
			<wsdl:input message="tns:GetCitiesByCountrySoapIn"/>
			<wsdl:output message="tns:GetCitiesByCountrySoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GlobalWeatherSoap" type="tns:GlobalWeatherSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetWeather">
			<soap:operation soapAction="http://www.webserviceX.NET/GetWeather" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetCitiesByCountry">
			<soap:operation soapAction="http://www.webserviceX.NET/GetCitiesByCountry" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GlobalWeather">
		<wsdl:port binding="tns:GlobalWeatherSoap" name="GlobalWeatherSoap">
			<soap:address location="http://localhost:8080/GlobalWeather"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>